<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="description" content="This application is a project management dashboard in better assisting managers to monitor, track, and manipulate their resources' hour allocation. All data visualizations are powered by Ignite UI: Infragistics' jQuery Controls.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--App Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/Images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Include Oswald Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2015.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2015.1/latest/css/structure/infragistics.css" rel="stylesheet" />

    <!-- Application Stylesheet  -->
    @Styles.Render("~/Content/css")

    <!-- Include Dependencies: Modernizr, jQuery, jQuery UI  -->
    @Scripts.Render("~/bundles/dependencies")

    <!--[if IE]>
          <style>
            .gaugeRow div.linear-gauge {margin-top:-15px;}
            #pm-team-navigation::after {display:none;}
            #pm-team-navigation label select {width:110%;}
          </style>
        <![endif]-->
    <!--[if lte IE 9]>
      <style>
        #pm-team-navigation label::before{display:none;}
      </style>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
   @RenderBody()

    @Scripts.Render("~/bundles/igniteui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
